table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
/*p{
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: bold;
}*/ 

table{
    width: 300px;
    /*height: 300px;*/
}
a{
    text-decoration: none;
    color: purple;
}

#moltres{
    width: 80px; 
}

#Horario{
    border-style: double;
    border-color: blue;
    background-color: aqua;
    text-align: center;
    color: black; 


}

#boton1{
    color: white;
    background-color: green;
    font-style: italic;
    font-weight: bolder;
    border-style: double;
}
#boton2 {
    color: black;
    font-style: oblique;
    font-weight: bolder;
    background-color: red;
    border-style: double;

}